@model IEnumerable<NorthWindWithControllersApp.Models.Customers>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTypeIdentifierNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryIdentifierNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.ContactId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTypeIdentifierNavigation.ContactTypeIdentifier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryIdentifierNavigation.CountryIdentifier)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.CustomerIdentifier">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerIdentifier">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerIdentifier">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
